*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
.container
{
  width: 101wv;
  max-width: 1478px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
/*////////////////////////////////////////////////*/
/* шапка сайта*/
.line
{
  position: fixed;
  top: 0;
  width: 1478px;
  max-width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}
.leftButton
{
    margin: 10px 20px 20px 10px;
}
.logo
{
    margin: 10px 20px 5px 10px;
}
.main-body
{
  width: 100%;
  max-width: 1478px;
  display: flex;
  flex-wrap: wrap;
}
/*////////////////////////////////////////////////*/
/* главный заголовок */
.familiesBack
{
  width: 100%;
  max-width: 100%;
  max-height: 700px;
  height: 600px;
  padding: 30px;
  margin: 60px 0;
  background-image: url('elements/families-01.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}
/*////////////////////////////////////////////////*/
/* блоки с информацией */
.familyInfo
{
  padding: 3%;
  width: 100%;
  background-color: rgb(243, 238, 238);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info
{
  width: 60%;
  font-size: 16pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5e5b5c;
  text-align: justify;
}
.familyInfoWhite
{
  padding: 3rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bigger
{
  padding: 1rem 0;
  font-size: 20pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
/*////////////////////////////////////////////////*/
/* кнопка вверх */
.btn-up
{
  position: fixed;
  background-color: #000000;
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
.btn-up::before
{
  content: "";
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}
.btn-up_hide
{
  display: none;
}
@media (hover: hover) and (pointer: fine)
{
  .btn-up:hover
  {
    background-color: rgb(159, 155, 148); /* цвет заднего фона при наведении */
  }
}
.back-to-top.active
{
  bottom: 80px;
  transition: 0.3s all;
}
/*////////////////////////////////////////////////*/
/* подвал сайта */
.footerLine
{
  padding: 5px;
  width: 100%;
  max-width: 1478px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
footer
{
  width: 100%;
  max-width: 1478px;
  position: absolute;
  font-family: sans-serif;
  color: black;
  background: rgb(255, 255, 255);
}
/*////////////////////////////////////////////////*/
/* настройки scrollbar */
body::-webkit-scrollbar
{
  width: 10px;
}
body::-webkit-scrollbar-track
{
  background: transparent;
}
body::-webkit-scrollbar-thumb
{
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid rgba(255, 252, 252, 0.544);
}
/*////////////////////////////////////////////////*/
/*навигационная панель*/
a:link
{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:visited
{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p
{
  margin: 0;
}
#burger-toggle
{
  position: absolute;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu
{
  opacity: 1;
  visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p
{
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img
{
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img
{
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img
{
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img
{
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after
{
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1)
{
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2)
{
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3)
{
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
.burger-menu
{
  --burger-menu-radius: 3em;
  position: fixed;
  top: 1vh;
  left: 1vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line
{
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1)
{
  top: 30%;
}
.burger-menu .line:nth-child(2)
{
  top: 50%;
}
.burger-menu .line:nth-child(3)
{
  top: 70%;
}
.burger-menu .line::after
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(159, 155, 148);
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after
{
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after
{
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after
{
  transform: translateX(0);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
  z-index: 15;
}
@media screen and (max-width: 750px)
{
  .menu
  {
    display: block;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 750px)
{
  .menu-nav
  {
    flex-direction: column;
  }
}
.menu-nav-item
{
  flex: 1;

}
.menu-nav-link
{
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-nav-link span
{
  overflow: hidden;
}
.menu-nav-link span div
{
  transform: translateY(102%);
}
.menu-nav-link::after
{
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}
.menu .galleryMenu
{
  margin-top: 60px;
  text-align: center;
  color: black;
}
.menu .titleMenu
{
  font-size: 24px;
  color: white;
  overflow: hidden;
}
.menu .titleMenu p
{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu .images
{
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width: 750px)
{
  .menu .images
  {
    justify-content: center;
  }
}
.menu .images .image-link
{
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 750px)
{
  .menu .images .image-link
  {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image
{
  position: relative;
  transition: 0.6s;
}
.menu .images .image-link .image::before
{
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}
.menu .images .image-link:hover .image
{
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before
{
  opacity: 1;
}
.menu .images img
{
  height: 250px;
  transform: translateY(102%);
}

/*///////////////////////////////////////////////*/
/*Галерея картинок*/
.gallery
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-width: 1478px;
}
.gallery__strip
{
  min-height: 30vh;
}
.gallery__strip__wrapper
{
  position: relative;
}
@media (min-width: 950px)
{
  .gallery
  {
    height: 100vh;
  }
  .gallery__strip.one
  {
    animation: 60s move-it ease alternate infinite 5s;
    transform: translateY(2%);
  }
  .gallery__strip.three
  {
    animation: 70s move-it ease alternate infinite 6s;
    transform: translateY(2%);
  }
  .gallery__strip.two
  {
    animation: 58s move-it-2 ease alternate infinite 5s;
    transform: translateY(-50%);
  }
  .gallery__strip.four
  {
    animation: 65s move-it-2 ease alternate infinite 5.5s;
    transform: translateY(-50%);
  }
  .gallery__strip:hover
  {
    animation-play-state: paused;
  }
  .gallery__strip__wrapper
  {
    flex: 0 0 25%;
  }
}
.photo
{
  position: relative;
  padding-bottom: 3rem;
}
.photo__image img
{
  width: 75%;
  transform: translateX(30%);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.photo:hover .photo__image img
{
  transform: translateX(0%);
}
.photo:hover .photo__name
{
  color: #fff;
}
@keyframes move-it
{
  0%, 90%, 100%
  {
    transform: translateY(2%);
  }
  45%
  {
    transform: translateY(-50%);
  }
}
@keyframes move-it-2
{
  0%, 90%, 100%
  {
    transform: translateY(-50%);
  }
  45%
  {
    transform: translateY(5%);
  }
}